body {
  background: rgb(247, 44, 91);
  background: linear-gradient(
    0deg,
    rgba(247, 44, 91, 0.8141631652661064) 0%,
    #f4f730ee 100%
  );
  font-family: "Work Sans", "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  color: #777777;
  font-size: 20px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

/* ---------------Header---------------- */

header.clearfix {
  background: #fff;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

.logo {
  background: #4aaaa5;
  color: white;
  padding: 28px;
  font-size: 50px;
  text-align: center;
  -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.4);
  box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.4);
}

nav li {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
  border-right: 1px solid #cccccc;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 0.8em;
  text-align: center;
}

nav li:last-child {
  border-right: none;
  padding-right: 10px;
}

nav li :hover {
  border-bottom: solid 10px #f4f730ee;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #4aaaa5;
}

.nav-wrapper {
  width: 100%;
  text-align: center;
}

/* --------------------- Main content ---------------------*/
main {
  margin: 0 auto;
}

.bio p {
  line-height: 1.6;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

h1 {
  padding-left: 30px;
  font-size: 44px;
  text-align: center;
  color: #4aaaa5;
}

.heading {
  color: #4aaaa5;
}

h1.heading {
  padding-bottom: 10px;
}

section {
  padding: 60px 20px 60px 20px;
  background: #fff;
  margin: 60px 20px 40px 20px;
  -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);
  box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);
}

img {
  -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);
  box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 50%;
}

hr {
  color: #f4f730ee;
}

/* --------------------- Skills --------------------- */
.skills {
  background: -webkit-linear-gradient(0deg, #f72b5ad0 0%, #f4f730ee 100%);
  background: linear-gradient(0deg, #f72c5bd0 0%, #f4f730ee 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
}
#skill {
  padding-top: 10%;
  text-align: center;
  margin: 0 auto;
}

h3 {
  color: white;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.highlight {
  background-color: #4aaaa5;
  padding: 3px;
}

/* --------------------- Portfolio --------------------- */

.portfolio-item {
  border-radius: 15px;
  -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);
  box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background-size: cover;
  position: relative;
  height: auto;
  margin-top: 20px;
  background-blend-mode: multiply;
  background-position: center;
}

.portfolio-item:hover {
  -webkit-box-shadow: -2px 19px 24px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -2px 19px 24px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -2px 19px 24px 0px rgba(0, 0, 0, 0.3);
  transform: translate(0px, -4px);
}

.portfolio-item.small {
  grid-row: span 2;
  grid-column: span 2;
  background-image: url("../images/liri.jpg");
}

.portfolio-item.small1 {
  grid-row: span 2;
  grid-column: span 2;
  background-image: url("../images/crystals.jpg");
}

.portfolio-item.medium {
  grid-row: span 3;
  grid-column: span 2;
  background-image: url("../images/train3.jpg");
}

.portfolio-item.tall {
  grid-row: span 5;
  grid-column: span 1;
  background-image: url("../images/psychic.jpg");
}

.portfolio-item.medium1 {
  grid-row: span 3;
  grid-column: span 2;
  background-image: url("../images/bardify1.jpg");
}

.portfolio-item.wide {
  grid-row: span 2;
  grid-column: span 3;
  background-image: url("../images/giphy1.jpg");
}

.portfolio-item.small3 {
  grid-row: span 2;
  grid-column: span 2;
  background-image: url("../images/trivia1.jpg");
}

.portfolio-item.small4 {
  grid-row: span 3;
  grid-column: span 2;
  background-image: url("../images/bamazon.jpg");
}
.portfolio-item.large1 {
  grid-row: span 3;
  grid-column: span 3;
  background: #eee;
  background-image: url("../images/friend-finder.jpg");
}

.portfolio-item.large2 {
  grid-row: span 1;
  grid-column: span 2;
  background: #eee;
  background-image: url("../images/study-mob-img1.jpg");
  position: right;
}
.portfolio-item.medium5 {
  grid-row: span 1;
  grid-column: span 3;
  background: #eee;
  background-image: url("../images/burger1.jpg");
  background-position: center;
}

.portfolio-item.medium6 {
  grid-row: span 1;
  grid-column: span 2;
  background: #eee;
  background-image: url("../images/clicky-game.jpg");
  background-position: top;
}

.portfolio-item.large3 {
  grid-row: span 1;
  grid-column: span 3;
  background: #eee;
  background-image: url("../images/community.jpg");
  background-position: left;
}

.portfolio-item:hover {
  background-color: #295f5c;
}

.portfolio-item p:hover {
  color: white;
}

.portfolio-item p {
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  font-size: 0.8em;
  color: transparent;
  position: relative;
}

.portfolio-item a:link {
  color: transparent;
}

.portfolio-item a:active {
  color: transparent;
}

a {
  text-decoration: none;
}
.btn {
  margin-top: 25px;
  padding: 10px;
  border: none;
  background-color: #4aaaa5;
  font-size: 0.8em;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.work {
  grid-row: span 1;
  grid-column: span 3;
}

.btn:hover {
  background-color: #3b8884;
  -webkit-box-shadow: -2px 19px 24px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -2px 19px 24px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -2px 19px 24px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* ---------------------Contact page --------------------- */

#contact p {
  text-align: center;
}
#contact a {
  color: #4aaaa5;
}
#contact a:hover {
  color: #f05075;
}

/*------------------------------- Footer ------------------------------------ */

footer {
  border-top: 8px solid #f4f730ee;
  padding-top: 40px;
  position: absolute;
  width: 100%;
}

footer {
  float: left;
  width: 100%;
  margin: auto;
  background: #1f2931;
  font-size: 0.7em;
  color: #4aaaa5;
  text-align: center;
}

footer a {
  display: inline;
  color: #4aaaa5;
}

footer li {
  display: inline;
  list-style: none;
  font-size: 3em;
  color: #4aaaa5;
  padding-left: 15px;
}

footer li a:hover {
  color: #f05075;
}

footer ul {
  text-align: center;
  padding-bottom: 10px;
}

footer p {
  text-align: center;
  padding-bottom: 10px;
}

/*----------------------------------Mobile----------------------------------*/

@media screen and (max-width: 600px) {
  header {
    margin-top: -90px;
  }

  .skills {
    font-size: 1.6em;
  }

  .skill {
    padding: 10% 20%;
    text-align: center;
    margin: 0 auto;
  }

  #skill {
    margin-top: 40px;
  }

  .highlight {
    line-height: 35px;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
  }

  .portfolio-item {
    margin-top: 60px;
    height: 300px;
  }

  .portfolio-item p:hover {
    font-size: 16px;
    line-height: 1.6;
  }

  .flex-items {
    flex: 1 100%;
  }
}

/*---------------------------------- Tablet ----------------------------------*/

@media only screen and (min-width: 768px) {
  section {
    margin-top: 90px;
  }

  menu {
    top: -20px;
  }

  .bio p {
    margin-top: 80px;
    padding-left: 20px;
    width: 70%;
  }

  img {
    width: 80%;
    margin: 30px;
    shape-outside: circle();
  }

  .nav-wrapper {
    margin: 0 auto;
    height: 95px;
  }

  .logo {
    padding: 28px;
    float: left;
  }
  nav ul {
    padding-right: 30px;
  }

  nav li {
    display: inline-block;
    margin-top: 40px;
    border-right: 1px solid #cccccc;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    font-size: 1em;
  }

  nav li:last-child {
    border-right: none;
    padding-right: 10px;
  }

  nav {
    float: right;
  }

  form {
    padding: 5%;
  }

  /* ------------------------ Main content ---------------------  */

  main {
    position: relative;
    padding-bottom: 30vw;
    overflow: auto;
    padding-top: 30px;
  }

  section {
    padding: 40px 10px 60px 10px;
    clear: both;
    margin: 100px 120px 0 120px;
  }

  img {
    width: 30%;
    float: left;
  }

  .clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }

  hr {
    overflow: visible;
    color: #ccc;
  }

  textarea {
    height: 100px;
  }

  input {
    width: 100%;
    height: 20px;
  }

  .portfolio-item {
    margin-top: 60px;
    height: 300px;
  }

  .portfolio-item p:hover {
    font-size: 18px;
    line-height: 1.6;
  }
}

/*---------------------------------- Desktop ----------------------------------*/

@media only screen and (min-width: 960px) {
  section {
    padding: 40px 20px 60px 20px;
  }

  #about {
    margin-top: 150px;
  }

  img {
    margin: 50px;
  }

  header.clearfix {
    width: 100%;
  }

  .nav-wrapper {
    max-width: 1200px;
  }

  img.bio {
    margin-right: 20px;
  }

  .portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(7, minmax(100px, 1fr));
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    color: transparent;
    margin: 50px 1em;
  }
  .portfolio-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
    height: auto;
    margin-top: 20px;
    background-blend-mode: multiply;
    background-position: center;
  }
}
/*-------------------------------Wide Screen Desktop-------------------------------*/
@media only screen and (min-width: 1900px) {
  #skill {
    padding-top: 20px;
  }
}
